* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans Condensed';
    padding: 20px 50px;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
}